aiogram==3.6.0
pydantic==2.7.4
pydantic-settings==2.3.4
SQLAlchemy==2.0.32
asyncpg==0.29.0
alembic==1.13.2
redis==5.0.7
fastapi==0.112.0
uvicorn==0.30.5
python-multipart==0.0.9
itsdangerous==2.2.0
psycopg2
